
@{
    ViewBag.Title = "Index";
}

@* display books data  *@
<div id="templatemo_content_right">
    @{int i = 0; }
    @foreach (var item in ViewBag.data)
    {

        @*<div class="cleaner_with_width">&nbsp;</div>*@
        <div class="templatemo_product_box" style="padding:5%">
            <h1>Photography  <span>(by @item.Author)</span></h1>
            <img src="@Url.Content(item.Image)" alt="image" />
            <div class="product_info">
                <p>Etiam luctus. Quisque facilisis suscipit elit. Curabitur...</p>
                <h3>$@item.Price</h3>
                <div class="buy_now_button"><a href="@Url.Action("AddtoCartItem", "AddToCart", new {item.Id })">Add to Cart</a></div>
                <div class="detail_button"><a href="subpage.html">Detail</a></div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>

        @*<div class="cleaner_with_width">&nbsp;</div>*@

    }

   
</div> <!-- end of content right -->

@*<div class="cleaner_with_height">&nbsp;</div>*@

