
@{
    ViewBag.Title = "Index";
}
<h1>Thank You </h1>
<h2>Your Order Saved And SuccessFully Deliver to You </h2>
<h5>Click on Continue</h5>
<div class="buy_now_button"><a href="@Url.Action("Index", "Home", new { })">Continue</a></div>

